h1{
 
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    font-family:Arial, Helvetica, sans-serif;

}

 .mainimg {
    justify-self: center;

}


 


.search-box input {
    width: 250px;
    min-width: 150px;
    background-color: rgb(228, 223, 223);
    border:none;
    border-radius: 8px;
    height: 1.5rem;
    font-size: 0.7rem;

   }

   h1 {
    font-weight: 100;
   }

   h1 span {
    font-weight:bold;
   }

   .login {
    background-color: rgb(218, 19, 19);
    border: none;
    height:1.7rem;
    border-radius: 15px;
    color: white;
    font-size: 0.8rem;
    width: 60px;

   }

   .signup {
    background-color: rgb(228, 223, 223);
    border: none;
    height:1.7rem;
    border-radius: 15px;
    
    font-size: 0.8rem;
    width: 60px;
    

   }


   header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

.buttons {
    align-items: center;

}

main {
    
    display: grid;
    justify-content: center;
    

}

img {
   
padding-top: 4%;
 width: 50vw;

}

h2 {
   
    text-align: center;
    font-weight: 500;

    
    }

.time {
   
    text-align: center;
    color:rgb(160, 157, 157) ;
    font-weight: 300;
    font-size: 0.8rem;

}

.table {
   
   display: flex;
   align-items: center;
   justify-content: space-around;
   border-bottom: 1px solid rgb(228, 223, 223);
    padding-bottom: 4%;
    padding-top: 4%;
}

.logo img {

    width: 10vw;  
 }

 .rating p span {

    font-size: 2rem;
 }

 .big-text p {
 font-size: 2rem;
 margin: 0;
    
 }

.rating p{

    margin:0;

 }

 .light-text {

    color:rgb(160, 157, 157) ;
    font-weight: 300;
    font-size: 0.7rem;
    margin: 0;
 }
 

 .rating {

   display: flex;
    flex-direction: column;
    align-items: center;
 }

 .how-many-ingredients {

    display: flex;
     flex-direction: column;
     align-items: center;
  }

.ingredients p { 
    font-size: 0.7rem;
}

.ingredients p span{ 
    font-weight: 800;
}

 h3{ 
    font-weight: 400;
}


.directions { 
 border: none;
 height:1.7rem;
    border-radius: 15px;    
    font-size: 0.8rem;
    width: 100px;
   

}

.ingredients { 
    padding-bottom: 4%;
    border-bottom: 1px solid rgb(228, 223, 223);
}


.save { 
    border: none;
    background-color: rgb(218, 19, 19) ;
    color:white;
    height:1.7rem;
    border-radius: 15px;    
    font-size: 0.8rem;
    width: 70px;

}

.small-img img { 
    max-width: 200px;
}

.sometitle2 { 
    padding-top: 5%;
}

.description1 { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description1 p{ 
    margin: 0;
    padding-top: 1%;
}

.description2 { 
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.description2 p{ 
    padding-top: 1%;
    margin: 0;
}

.first_part {
    
    display: grid;
    justify-content: center;
    

}

.sometitle span{
    
  font-size: 0.7rem;
  color:rgb(160, 157, 157)
    

}

.number {
    
    font-size: 1rem;
    color:rgb(112, 111, 111)
      
  
  }
  

.light-rating {
    
    font-size: 0.7rem;
    color:rgb(160, 157, 157)
      
  
  }
  


@media only screen and (min-width:570px) {

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid rgb(228, 223, 223);
        
        
       }

       .search-box {
        order:-2;
       }

     h1 {
        margin:0;
        align-self: center;
       }

       .first_part {
    
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        grid-gap:4%;
        
    
    }

    .sometitle {
    
        justify-self: center;
        grid-column: 1/3;
          
      
      }

}

@media only screen and (min-width:800px) {

  

       .first_part {
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: center;
        grid-gap:4%;
        
    
    }

    .sometitle {
    
        justify-self: center;
        grid-column: 1/4;
          
      
      }

      .ingredients {

        margin-left: 20%;
    }

}





@media only screen and (min-width:1000px) {

    .logo img {

        width: 6vw;  
     }

    .save { 
        
        height:2rem;
        font-size: 0.9rem;
        width: 80px;    
    }

    .directions { 
        
        height:2rem;
        font-size: 0.9rem;
        width: 100px;    
    }

    .ingredients p { 
        font-size: 0.9rem;
        
    }

    .ingredients h3{ 
        padding-bottom: 2%;
        padding-top: 2%;

    }

    .first_part {
    
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;
        grid-gap:4%;
        
    
    }

    .sometitle {
    
        justify-self: center;
        grid-column: 1/6;
          
      
      }




}